<!-- <form (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Login</mat-label>
      <input type="login" matInput [formControl]="loginFormControl" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="loginFormControl.hasError('login') && !loginFormControl.hasError('required')">
        Please enter a valid login address
      </mat-error>
      <mat-error *ngIf="loginFormControl.hasError('required')">
        Login is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form> -->

  <div class="auth-form">
    <form name="form"
    [formGroup]="authForm"
          (ngSubmit)="onSubmit()">
        <h2>Авторизация</h2>
        <mat-form-field appearance="outline">
            <mat-label>Логин</mat-label>
            <input matInput
            formControlName="login"
                   type="text"
                   name="login">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Пароль</mat-label>
            <input matInput
            formControlName="password"
                   type='password'
                   name="password">
            <!-- <mat-hint *ngIf="this.isLoginFailed===true"
                      [ngStyle]="{color: this.colorValue()}">Неверный логин/пароль</mat-hint> -->

        </mat-form-field>
        <button mat-raised-button
                color="primary"
                type="submit">Войти</button>
    </form>
</div>