<!-- <div class="nav-container"> 

  <div>
    <div class = "name-project"> Название модуля </div>
  </div>
  <div class="rightNav">
    <div class = "data-user"> Добро пожаловать, {{userName}}!</div>
    <button mat-icon-button [matMenuTriggerFor]="menu" type="button" class="button-settings" (click)="onSettings()"> <mat-icon>settings</mat-icon> </button>
    <button mat-icon-button type="button" matTooltip="Выйти из профиля" matTooltipClass="example-tooltip-uppercase" aria-label="Button that shows a red tooltip" class="button-exit" (click)="onExit()"> <mat-icon>exit_to_app</mat-icon> </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog()">
        <mat-icon>dialpad</mat-icon>
        <span> Изменить пароль</span>
      </button>
      <ng-container *ngIf="user && user.role === 'Admin'">
        Hi
      </ng-container>
    </mat-menu>
    </div>
  </div>
  <app-table-user></app-table-user> -->

  <header class="header background-primary">
    <h1 class="logo">Название проекта</h1>

    <mat-tab-group backgroundColor="primary"
                   color="accent"
                   class='profile Hi'
                   fitInkBarToContent>
        <mat-tab >
            <ng-template mat-tab-label>
                <span style="font-size: 14px;">Добро пожаловать, {{this.userName}}!</span>
                <div>
                    <!-- <button matSuffix
                            mat-icon-button
                            matTooltip="Выйти из профиля"
                            >
                        <mat-icon>exit_to_app</mat-icon>
                    </button> -->
                  <button mat-icon-button [matMenuTriggerFor]="menu" 
                  type="button" class="button-settings" (click)="onSettings()"> <mat-icon>settings</mat-icon> 
                </button>
                  <button mat-icon-button 
                  type="button" matTooltip="Выйти из профиля" matTooltipClass="example-tooltip-uppercase" 
                  aria-label="Button that shows a red tooltip" class="button-exit" (click)="onExit()"> <mat-icon>exit_to_app</mat-icon> 
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openDialog()">
                    <mat-icon>dialpad</mat-icon>
                    <span> Изменить пароль</span>
                  </button>
                  <ng-container *ngIf="user && user.role === 'Admin'">
                    Hi
                  </ng-container>
                </mat-menu>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</header>

<app-table-user></app-table-user>