<header class="header background-primary">
  <h1 class="logo">Название проекта</h1>

  <mat-tab-group backgroundColor="primary"
                 
                 class='profile'
                 fitInkBarToContent>
      <mat-tab >
          <ng-template mat-tab-label>
              <span style="font-size: 14px;" class="white-icon">Добро пожаловать, {{this.userName}}!</span>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" 
                type="button" class="button-settings" (click)="onSettings()"> <mat-icon class="white-icon">settings</mat-icon> 
              </button>
                <button mat-icon-button 
                type="button" matTooltip="Выйти из профиля" matTooltipClass="example-tooltip-uppercase" 
                aria-label="Button that shows a red tooltip" class="button-exit" (click)="onExit()"> <mat-icon class="white-icon">exit_to_app</mat-icon> 
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialogChangePassword()">
                  <mat-icon>dialpad</mat-icon>
                  <span> Изменить пароль</span>
                </button>
                <!-- <ng-container *ngIf="user && user.role === 'Admin'">
                  <button mat-menu-item (click)="openDialogCreateUser()">
                    <mat-icon>person_add</mat-icon>
                    <span> Добавить пользователя </span>
                  </button>
                </ng-container> -->
              </mat-menu>
              </div>
          </ng-template>
      </mat-tab>
  </mat-tab-group>
</header>

<ng-container *ngIf="isSuperAdmin === 'true'; else userTable">
  <app-table-users></app-table-users>
</ng-container> 
<ng-template #userTable> 
  <app-table-user></app-table-user>
</ng-template>